<div class="about-content">
    <div class="profile-section">
        <div class="profile-image-wrapper">
            <img src="/files/vv_headshot.jpeg" alt="Vishnu Venkatesh">
        </div>
    </div>
    
    <div class="about-text">
        <p>Hello! I am an Engineer, passionate about robotics and automation. During my education and career
            I have worked on autonomous vehicles for the sea, land, sky and space. My main interests lie in
            robotic control, path and action planning, machine vision and SLAM with a focus on RL approaches. <br> You can download a copy of my
            CV below.</p>
        <a href="/files/VVResume.pdf" download="Vishnu_Venkatesh_CV.pdf" class="download-btn">
            Download CV
        </a>
    </div>
</div> 